/* You can add global styles to this file, and also import other style files */
/* EN TU ARCHIVO GLOBAL: src/styles.css (o .scss) */
body, html {
    margin: 0;
    padding: 0;
    overflow-x: hidden; /* Esto arregla el desplazamiento horizontal */
}
/* Ajusta el padding-top para dejar espacio para el header. 
   Usa un valor un poco mayor a la altura de tu header (ej. 70px) */
body { 
    padding-top: 40px; 
} 
/* Si estás usando 'main' en app.component.html */
main {
    padding-top: 40px; 
}